* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: 500ms ease;
}

.row {
	display: flex;
}
  
.column {
	flex: 50%;
}

h1 {
	margin-top: 18px;
	margin-bottom: 8px;
}

p {
	font-size: 18px;
	line-height: 30px;
}

li {
	font-size: 17px;
	line-height: 30px;
}

article {
	margin-top: 12px;
	margin-bottom: 16px;
}

img {
	max-width: 100%;
	height: auto;
}

/* Change hyperlink color */
a {
	color: #3A3A3A;
}

a:visited {
	color: #3A3A3A;
}

/* Custom style */
#left-column {
	padding: 20px;
}

#detail {
	margin-bottom: 12px;
	color: gray;
}

#house-intro {
	margin-block-start: 16px;
	margin-block-end: 16px;
}

#exterior {
	visibility: hidden;
	margin-top: 52px;
	margin-bottom: 52px;
}

#interior {
	visibility: hidden;
	margin-top: 52px;
	margin-bottom: 52px;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/